.card {
    padding: 8px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px grey;
}

.card:hover {
    border: 2px dashed lightgrey;
    box-shadow: none;
}

.card_title {
    font-size: 20px;
    font-weight: 700;
    color: burlywood;
    margin-bottom: 4px;
}

.info {
    font-weight: 700;
}

#div_header {
    display: table;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 700;
}