
.container {
    display: inline-block;
}

#container_interaction {
    width: 20vw;
    float: left;
}

#container_list {
    vertical-align: top; 
    background-color: #F0F0FF;
}

#card_list {
    width: 20vw;
    height: 70vh;
    overflow: auto;
}

#container_mainvis {
    width: 120vh;
}

.card {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 2px 2px 2px grey;
}

.card:hover {
    border: 2px dashed lightgrey;
    box-shadow: none;
}

.card_title {
    font-size: 20px;
    font-weight: 700;
    color: cadetblue;
    margin-bottom: 10px;
}

.info {
    font-weight: 700;
}

#div_header {
    display: table;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 700;
}

.placeholder {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: white;
    border: 2px dashed salmon;
    box-shadow: none;
    color: indianred;
    font-weight: 700;
}

.tablejs {
    font-family: Tahoma; 
}

.t_head {
    background-color: cadetblue;
    color:white;
    padding: 10px;
}

.id_head {
    font-weight: 700;
    border-bottom: none;
}

.t_body {
    padding: 5px;
    border-bottom: 1px solid black;
}

.tablejs tr:nth-child(even) {
    background: lightgrey;
}

#nouislider {
    width: 13vw;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 15px;
    padding-right: 20px;
}

.noUi-base {
    width : 13vw
}

.noUi-connect {
    background: cadetblue;
}

/* .svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
} */
